name: Documentation

on:
  push:
    tags: [v*]

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Checkout Codex
        uses: actions/checkout@v2
        with:
          repository: shamazmazum/codex
          path: ~/lisp/codex
      - name: Checkout docparser
        uses: actions/checkout@v2
        with:
          repository: shamazmazum/docparser
          path: ~/lisp/docparser
      - name: Checkout scriba
        uses: actions/checkout@v2
        with:
          repository: shamazmazum/scriba
          path: ~/lisp/scriba
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install libopenblas0-openmp
      - name: Install roswell
        run: |
          curl -L https://raw.githubusercontent.com/roswell/roswell/master/scripts/install-for-ci.sh | sh
      - name: Install Ultralisp
        run: |
          ros -e '(ql-dist:install-dist "http://dist.ultralisp.org/" :prompt nil)'
      - name: Build documentation
        run: |
          ros -s codex -e '(codex:document :entzauberte-matrices)'
      - name: Deploy to GH pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/entzauberte-matrices-a-lightweight-lapack-wrapper/html
